body {
  font-family: sans-serif;
  padding: 2em;
  margin: 10%;
  overflow: auto;
}

table {
  margin: 5px 10%;
  width: 80%;
  border-collapse: collapse;
}

td {
  border: 1px coral solid;
  padding: 0.3em;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button {
  border: 0;
  text-align: center;
}

.red {
  background-color: red;
  border: 1px solid red;
}

.orange {
  background-color: orange;
  border: 1px solid orange;
}

@media screen and (min-width: 768px) {

  form {
    margin: 5px 10%;
    text-align: center;
    display: flex;
  }

  input {
    margin-right: 5px;
    box-sizing: border-box;
    min-width: 2%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  input:last-child {
    margin-right: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

}

@media screen and (max-width: 767px) {

  body {
    padding: 1%;
    margin: 0;
  }

  table {
    margin: 5px 0%;
    width: 100%;
  }

  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
  }

  form {
    margin: 5px 0;
  }

}
